@import url('https://fonts.googleapis.com/css2?family=Nova+Oval&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

*{
    font-family: 'Comfortaa', cursive;
}
#main,#three-main{
    background: #ddd6c74d;
}
.navbar{
    background-color: #f5f3ee;
}
ul.dropdown-menu.show {
    background: #f5f3ee;
}
.logo{
    height: 90px;
}
.fa-bars{
    font-size: 25px;
    cursor: pointer;
    right: 20px;
    position: absolute;
    display: none;
    visibility: hidden;
}
#check{
    display: none;
}
.menu-bar {
  background-color: #246940;
  height: 80px;
  width: 100%;
  align-items: center;
  line-height: 40px;
  position: relative;
  color: white;
}
.menu-bar ul {
    float: right;
  list-style: none;
  display: flex;
}
.menu-bar ul li {
  width: auto;
  padding-top: 20px;
  padding-right:  12px;
  position: relative;
}
.menu-bar ul li a {
  color: var(--color-white);
  text-decoration: none;
  transition: all 0.3s;
}
.menu-bar ul li a:hover {
  color: white;
}
.fa-caret-down {
  float: right;
  margin-top: 8px;
  margin-left: 10px;
  padding-top: 3px;
}
/* dropdown menu style */
.dropdown-menu {
  display: none;
}
.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #246940;
  color: white;
}
.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
padding: 0;
}
.menu-bar ul li:hover .dropdown-menu ul li {
  padding: 10px;
  background-color: #246940;
}
p{
    font-family: 'Comfortaa', cursive;
    letter-spacing: .1rem;
}
#first{
    background-image: url(Images/background/bg11.png);
    background-repeat: no-repeat;
    background-position: center;
}
#first h1{
    font-family: 'Nova Oval', cursive;
}

#first p{
    font-family: 'Comfortaa', cursive;
    letter-spacing: .2rem;
}
#about{
    background-image: url(Images/icon3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 100%;
}
#certificate{
    background-image: url(Images/newimage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.four-certificate div{
    box-shadow: 0px 4px 10px rgba(154, 154, 154, 0.25);
/*     border-radius: 15px 15px 0px 0px; */
/*     margin-bottom: 20px ; */
}
/* #certificate .box{
    width: 280px;
    height: 372px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(154, 154, 154, 0.25);
    border-radius: 15px 15px 0px 0px;
} */
#certificate .icon{
    background: rgba(254, 214, 101, 0.44);
    box-shadow: inset 0px 4px 31px 33px rgba(254, 214, 101, 0.78);
    border-radius: 15px 15px 0px 0px;
    color: #246940;
    font-size: 20px;
}
#certificate .icon2{
    width: 60px;
    height: 70px;
}
#certificate .text{
    font-size: 15px;
/*     background: rgba(254, 214, 101, 0.44); */
    background: white;
/*     box-shadow: inset 0px 4px 31px 120px rgba(254, 214, 101, 0.78); */
    color: #246940;
}
#certificate ol li{
   text-align: justify;
   line-height: 2;
   font-size: large;
   font-weight:500;
   letter-spacing: .1rem;
   word-spacing: .4rem;
}
.box{
    width: 500px;
}
#three-first img{
    height:500px;
}
#demo{
    width: 70%;
}
#three-first span{
    font-family:'Cinzel Decorative', cursive;
}
#available{
    background-image: url(Images/newimage2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
}
.box .bg-dark{
text-align: center!important;
}
footer{
    background: #246940;
}
.footer-img{
    padding:0 20px;
}
footer li{
    word-spacing: 5px;
}
@media(max-width:1200px){
    #three-first img{
        height: auto;
    }
    #demo{
        width: 100%!important;
    }
    
    /* .fa-bars:checked ~ .dropdown-menu ul{
        
    } */
}
@media(max-width: 1053px){
    .dropdown-menu {
/*   display: block; */
  position: relative;
/*   left: 0; */
/*   top: 100%; */
/*   background-color: #246940; */
/*   color: white; */
}
    .menu-bar ul{
        display: block;
        position: relative;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        background-color: #246940; 
        transition: all .5s;
    }
    .fa-bars{
        display: block;
        visibility: visible;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
