@import url('https://fonts.googleapis.com/css2?family=Nova+Oval&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

*{
    font-family: 'Comfortaa', cursive;
}
#main,#three-main{
    background: #ddd6c74d;
    /* background-color: #ccabd0; */
}
.navbar{
    /* background-color: #91D2C6; */
}
.logo{
    width: 75px;
    height: 100px;
}
p{
    font-family: 'Comfortaa', cursive;
    letter-spacing: .1rem;
    /* word-spacing: 1rem; */
    /* line-height: 2rem; */
}
#first{
    background-image: url(Images/iconii.PNG);
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
}
#first h1{
    font-family: 'Nova Oval', cursive;
}

#first p{
    font-family: 'Comfortaa', cursive;
    letter-spacing: .2rem;
    /* word-spacing: 1rem; */
}
#about{
    background-image: url(Images/icon3.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 100%;
}
#certificate{
    background-image: url(Images/newimage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
#certificate ol{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
}
#certificate ol li{
   text-align: justify;
   line-height: 2;
   font-size: large;
   font-weight:500;
   letter-spacing: .1rem;
   word-spacing: .4rem;
}
.box{
    width: 500px;
}
#three-first img{
    height:500px;
    /* width: 1200px!important; */
}
#demo{
    width: 70%;
}
#three-first span{
    font-family:'Cinzel Decorative', cursive;
}
#available{
    background-image: url(Images/newimage2.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
}
.box .bg-dark{
/*     margin: auto; */
text-align: center!important;
}
.footer-img{
    padding:0 20px;
}
footer li{
    word-spacing: 5px;
}

@media(max-width:1200px){
    #three-first img{
        /* width: 100%!important; */
        height: auto;
    }
    #demo{
        width: 100%!important;
    }
}